:root {
    --first-color: #8447e9;


}

.button-1 {
    width: 250px;
    height: 60px;
    padding: 20px 32px;
    display: flex;
    color: white;
    background-color:var(--first-color);
}

.Programacion {
    width: 226px;
    height: 39px;
    flex-grow: 0;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.48px;
    text-align: left;
    color: var(--first-color);
}

/*Empieza spacio css Angela Carrasco*/
.box2 {
    background-color: #8447e9;
    width: 698px;
    height: 2195px;
    padding: 0
    display
    flex

    
}
/*margin: 9px 2px 1742px 0; */
.CREAM-IMG {
    width: 522px;
    height: 341px;
    flex-grow: 0;
}
/*Acaba espacio css Angela Carrasco*/