:root {
  --first-color: #8447e9;
}

.main-nav {
  display: none;
}

.title {
  color: var(--first-color);
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;

}

.list {
  display: flex;
  justify-content: flex-end;
}

.menuhambur {
  display: inline-flex;
  height: 25px;
  width: 25px;
  margin-top: 0;
  position: relative;
  top: 10px;
}

.foot {
  display: flex;
  background-color: black;
  width: 200%;
  padding-top: 40px;
  color: #8447e9;
  align-items: center;
}

.button-1 {
  width: 250px;
  height: 60px;
  padding: 20px 32px;
  display: flex;
  color: white;
  background-color: var(--first-color);
}

.Programacion {
  width: 226px;
  height: 39px;
  flex-grow: 0;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.48px;
  text-align: left;
  color: var(--first-color);
}

/*Empieza spacio css Angela Carrasco*/
.box2 {
  background-color: #8447e9;
  width: 698px;
  height: 2195px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  font-weight: 200;
  color: white;


}

.CREAM-IMG {
  width: 522px;
  height: 341px;
  flex-grow: 0;

}


.brandings {
  font-size: 16px;


}

.first-title {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.titles {
  font-size: 32px;

}

/*Acaba espacio css Angela Carrasco*/

/*Espacio Silvia*/

.news {
  margin-left: 7px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 40px;
  text-align: left;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.button-news {
  margin: 30px;
}

.button-exp {
  text-decoration: none;
  border: 1px solid var(--first-color);
  color: var(--first-color);
  padding: 8px 26px;
}

.gota {
  background-image: url("../images/drop-of-water-inject-water-drip-45229.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

.contactanos-final {
  display: none;
}

.gota p {
  color: white;
  font-weight: bold;
  font-size: 35px;
  position: absolute;
  margin: 60px 12px;
}

/*fin silvia*/

@media (min-width: 768px) {}

@media (min-width: 1024px) {}