.titles {
  font-size: 32px;
  color: #ffffff;
  margin: 10%;
}

.first-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.title-proyect2 {
  color: #ffffff;
  margin-top: 20%;
  margin-block-end: 13%;
  margin-left: 20%;
}

.brandings {
  font-size: 16px;
  color: #ffffff;
  opacity: 0.4;
  margin: 10%;
}

.box2 {
  background-color: #8447e9;
  width: 100%;
  overflow: hidden;
  margin: none;
  //justify-content: center;//
  //display: flex;//
  //flex-direction: column;//
  //text-align: center;//
  // padding: 0;
  // flex-direction: column;
  // align-items: center;

}

.imagesbox2 {
  //display: flex;//
  //align-items: center;//
  //width: 50%;//
  //height: 100px;//
  //padding: 10px;//
  //display: block;//
  margin-left: 10%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: 50%;

}

.button-end {
  //nose como quitarle shadow al border ni si la manera de centrar usando el margin es valida
  padding: 12px;
  color: #ffffff;
  background-color: #8447e9;
  border: 6;
  border-color: #ffffff;
  margin-bottom: 5%;
  margin-top: 10%;
  margin-left: 30%;
}