.titles {
  font-size: 32px;

}

.box2 {
  background-color: #8447e9;
  width: 100%;
  
  
  // padding: 0; 
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // font-size: 32px;
  // font-weight: 200;
  // color: white;


}

.brandings {
  font-size: 16px;


}

.first-title {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.titles {
  font-size: 32px;

}

.imagesbox2 {
  width: 300px;
}