.box2 {
  background-color: #8447e9;
  width: 698px;
  height: 2195px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  font-weight: 200;
  color: white;


}

.CREAM-IMG {
  width: 522px;
  height: 341px;
  flex-grow: 0;

}


.brandings {
  font-size: 16px;


}

.first-title {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.titles {
  font-size: 32px;

}