.foot {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 30px;
  color: #8447e9;
}

.footer_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav ul {
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 77px;
    color: white;
    margin-right: 50px;
  }

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    gap: 77px;
    color: white;
    margin-right: 50px;
  }
}
