.foot {
  // display: flex;
  background-color: black;
  padding-top: 40px;
  color: #8447e9;
  // justify-content: space-between;
}
.footer_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
