.form {
  display: flex;
  flex-direction: column;
  color: grey;
  align-items: center;
  margin: 20px;
}

.form_input {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 318px;
  color: grey;
  padding: 10px;
  margin-bottom: 20px;
}

.container {
  text-align: center;

  & h2 {
    font-size: 52px;
    margin: 50px;
  }
}

.form_button {
  background-color: #8447e9;
  border: none;
  color: white;
  padding: 20px;
  padding: 14px 30px;
  margin: 50px;
}

.image_map {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
  & img {
    width: 100vw;
    height: 50vh;
    margin: 3px;

    @media (min-width: 768px) {
      width: 450px;
      height: 400px;
      margin-bottom: 10%;
    }
    @media (min-width: 1024px) {
      width: 450px;
      height: 400px;
      margin-bottom: 20%;
    }
  }
}
