.header {
  background-color: white;
  padding: 10px;
}

.header_div {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: none;

  @media (min-width: 768px) {
    display: inline;
  }
}
// .nav_ul {
//   @media (min-width: 768px) {
//     justify-content: space-around;
//   }
// }

.title {
  color: var(--first-color);
  display: flex;
  align-items: center;
}

// .list {
//   display: flex;

// }

.menuhambur {
  height: 25px;
  width: 25px;
  margin-top: 0;
  top: 10px;

  @media (min-width: 768px) {
    display: none;
  }
}
