.main-nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}
.nav_ul {
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.title {
  color: var(--first-color);
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  background-color: white;
  padding: 10px;
  justify-content: space-between;
}

// .list {
//   display: flex;
  
// }

.menuhambur {
  display: inline-flex;
  height: 25px;
  width: 25px;
  margin-top: 0;

  top: 10px;

  @media (min-width: 768px) {
    display: none;
  }
}
