<section>
    <div class="button">
        <div class="button-1">
            <a href="" class="button-explore">Explora nuestros servicios</a>
        </div>
    </div>
    <div class="box1-main">
        <div class="first-box">
            <img src="./images/2.png" alt="Imagen programacion">
            <h2 class="Big-titles">Programación</h2>
            <p class="Leer">Leer más</p>
        </div>
        <div class="first-box">
            <img src="./images/3.png" alt="Imagen marketing">
            <H2 class="Big-titles">Marketing</h2>
            <p class="Leer">Leer más</p>
        </div>
        <div class="first-box">
            <img src="./images/1.png" alt="Imagen diseno">
            <h2 class="Big-titles">Diseño</h2>
            <p class="Leer">Leer más</p>
        </div>
    </div>

</section>