<section>
    <!-- <h1>AdaDev</h1> -->
    <div class="button">
        <div class="button-1">
            <a href="" class="button-explore">Explora nuestros servicios</a>
        </div>
        <!-- <div class="main-title">
             <h2>Ofrecemos soluciones innovadoras para impulsar tu negocio con tecnología avanzada y un enfoque personalizado</h2>
        </div> -->
    </div>
    <div class="box1-main">
        <div class="first-box">
            <img src="./images/2.png" alt="Imagen programacion">
            <h2 class="Big-titles">Programación</h2>
            <p class="pservicios">La programación es el arte de convertir ideas en realidad a través del código</p>
            <p class="Leer">Leer más</p>
        </div>
        <div class="first-box">
            <img src="./images/3.png" alt="Imagen marketing">
            <H2 class="Big-titles">Marketing</h2>
            <p class="pservicios">Impulsa tu marca con estrategias de marketing efectivas y personalizadas para alcanzar a tu audiencia ideal.</p>
            <p class="Leer">Leer más</p>
        </div>
        <div class="first-box">
            <img src="./images/1.png" alt="Imagen diseno">
            <h2 class="Big-titles">Diseño</h2>
            <p class="pservicios">Transformamos ideas en diseños creativos y funcionales que destacan.</p>
            <p class="Leer">Leer más</p>
        </div>
    </div>

</section>