<section class="box2">
    <div class="title-proyect2">PROYECTOS</div>

        <p class="parraf2">Desarrollamos proyectos innovadores que ofrecen soluciones funcionales y amigables, centrados en mejorar la experiencia del usuario y satisfacer sus necesidades</p>
    
    <div class="container-proyects">
        <div>
            <div class="imagesbox2">
                <img src="./images/10.png" alt="Black   Pack shoes games and bottle">
            </div>
            <div class="first-title">
                <div class="titles">BLVCK</div>
                <div class="brandings">Branding</div>
            </div>
        </div>
        <div>
            <div class="imagesbox2">
                <img src="./images/5.png" alt="Cream green pack of two">
            </div>
            <div class="first-title">
                <div class="titles">CREAM</div>
                <div class="brandings">Branding</div>
            </div>
        </div>
        <div>
            <div class="imagesbox2">
                <img src="./images/11.png" alt="Two persons with sunglasess publiciting creams">
            </div>
            <div class="first-title">
                <div class="titles">FREDI</div>
                <div class="brandings">Branding</div>
            </div>
        </div>
        <div>
            <div class="imagesbox2">
                <img src="./images/9.png" alt="Hand showing one card with a logo and another with a QR code">
            </div>
            <div class="first-title">
                <div class="titles">APOLO</div>
                <div class="brandings">Branding</div>
            </div>
        </div>
    </div>
    <button class="button-end">Explora nuestros servicios</button>
</section>