<section class="box3">
    <div class="news">
        <span>Noticias</span>
    </div>
    <article class="articles">
        <div class="Elon">
            <img src="./images/8.png" alt="Elon Musk noticia">
            <p>"Elon Musk anuncia que el fin de la programación escrita por humanos llegará en 2025."</p>
        </div>
        <div class="podcast">
            <img src="./images/6.png" alt="Chica podcast">
            <p>"Nuestras 10 recomendaciones de podcasts para escuchar si estás aprendiendo a programar"</p>
        </div>
        <div class="cohete">
            <img src="./images/7.png" alt="Cohete despegando">
            <p>"La AEE incluirá código escrito por Ada Dev en su próximo cohete destino a Marte."</p>
        </div>
        <div class="button-news">
            <a href="" class="button-exp">Explora noticias</a>
        </div>
    </article>
    <div class="drop">
        <p>Listas para tu proyecto</p>
        <a href="./form.html" class="contactanos-final">Contáctanos</a>
    </div>
</section>