<div class="form_header">
<title clase="form_header_title">AdaDev</title>
<img class="form_header_menu" src="./images/menu.png" alt="menu hamburguesa">
<nav class="header_nav">
    <ul>
        <li class="list">
            <a href="">Home</a>
        </li>
        <li class="list">
            <a href="">Nosotros</a>
        </li>
        <li class="list">
            <a href="">Blog</a>
        </li>
        <li class="list">
            <a href="">servicios</a>
        </li>
    </ul>
</nav>
</div>