<section class="container">
    <div class="container_form">
        <h2>Te interesa? Hablanos</h2>
        <div>

            <form class="form" action="https://dev.adalab.es/api/form" method="get">
                <label for="Name">Nombre</label>
                <input class="form_input" id="Name" type="text" name="Name" required>

                <label for="Email">Email</label>
                <input class="form_input" id="Email" type="email" name="Email">

                <label for="Tell-us">Cuéntanos de tu proyecto</label>
                <input class="form_input" id="Tell-us" type="text">

            </form>
        </div>
        <div>
            <button class="form_button" type="submit">Enviar</button>
        </div>
</section>

<section>
    <div class="image_map">
        <img class="image_map_def" src="/images/mapa.png" alt="Map">
    </div>
    <!-- <div class="form_drop">
        
    </div> -->
    </div>
</section>