<header class="header">
    <h1 class="title">AdaDev</h1>
    <div>
        <img class="menuhambur" src="./images/menu.png" alt="menu hamburguesa">
        <!-- <i class="fa-solid fa-bars icons" style="color: #9929BD;"></i> -->
    </div>
    <nav class="main-nav">

        <ul class="nav_ul">
            <li class="list">
                <a href="">Home</a>
            </li>
            <li class="list">
                <a href="">Nosotros</a>
            </li>
            <li class="list">
                <a href="">Blog</a>
            </li>
            <li class="list">
                <a href="">servicios</a>
            </li>

        </ul>
    </nav>
</header>